<!doctype html>
<html>
  <head>
    <title>speech-mic demo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">
    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">

    <link rel="import" href="../speech-mic.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>

    <div class="vertical-section-container centered">
      <h3>Basic speech-mic Demo</h3>
      <p>Simpelste Variante der Nutzung. Nach einem erkannten Wort / Satz wird die Aufnahmefunktion beendet</p>
      <demo-snippet>
        <template is="dom-bind">
          <speech-mic transcript="{{transcript}}"></speech-mic>
          <br><br><br><br>
          {{transcript}}
        </template>
      </demo-snippet>
    </div>

  </body>
</html>
